<div class="d-flex">
  <h1 class="mr-auto text-uppercase">Widgets</h1>
  <div>
    <%= render partial: 'search' %>
  </div>
  <% if session[:access_token] %>
    <div>
      <%= link_to 'New widget', new_widget_path, class: 'ml-2 btn btn-secondary' %>
    </div>
  <% end %>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <% if @my_widgets %>
      <th scope="col">Kind</th>
      <th scope="col">Action</th>
    <% else %>
      <th scope="col">User</th>
    <% end %>
  </tr>
  </thead>
  <tbody class="js-widget-list">
    <%= render partial: 'widget_list', locals: { widgets: @widgets, user_view: false, my_widgets: @my_widgets } %>
  </tbody>
</table>


<br>

