<p id="notice"><%= notice %></p>
<div class="d-flex row">
  <h1 class="text-center text-uppercase col-md-6">Widgets</h1>
  <div class="col-md-6">
    <%= render partial: 'search' %>
  </div>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">User</th>
  </tr>
  </thead>
  <tbody class="js-widget-list">
  <%= render partial: 'widget_list', locals: { widgets: @widgets } %>
  </tbody>
</table>


<br>

